body {
    font-family: Arial, sans-serif;
}

#card-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    border: 5px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5px;
    transition: all .3s ease-in-out;
}
.card:hover
{
    background-color: gold;
}

.card img {

    object-fit: cover;
    border-radius: 10px;
}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 20px;
}
.logo
{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/001/img/card_1029390_effect.webp),
                      linear-gradient(rgb(42, 42, 42),rgb(45, 45, 45)), url(/sites/images/—Pngtree—spider\ web\ spider\ big\ spider_3853751.png);
    color: white;
    border: 3px solid rgb(227, 0, 0);
    padding: 25px;
    margin: 0px 600px;

}
body
{
    background-color: gray;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card
{
    background-color: white;
}


.intro
{
    background-position: center;
    background-image: url(/001/img/38ec0fc7976a3de65b7fb9b057e6f319.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    padding: 25px;
    margin: 15px 600px;
    border: 3px solid rgb(120, 8, 212);
}

.carddata
{
    background-color: azure;
    border: 5px solid #d30000;
    font-size: xx-large;
    margin: 25px 25px;
    
}
.cardname
{
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: rgb(43, 1, 1);
    border: 5px solid #3b021e;
    color: aliceblue;
}

.stats
{
    color: rgb(154, 21, 0);
    font-size: 50px;
    border:5px solid #3b021e;
    padding: 0 450px;
    white-space: nowrap;
}

#card-desc
{
    color: #d30000;
    border:5px solid #3b021e;

}

#draft
{
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    border:8px solid rgb(0, 0, 0);
    border-width: 1em;

}

h3
{
    color: aliceblue;
    font-size: 35px;
}

.ad
{
    color: aliceblue;
    font-size: 20px;
}